
<!--- caja de busqueda  -->
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
            <input (keyup)="buscarPersona(input.value)" type="text" class="form-control" placeholder="Buscar personas" #input>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Spinner de carga -->
  <div class="row animated fade-In" *ngIf="cargando" >
      <div class="col-sm-12" >
  
       <div class="alert alert-warning text-center">
           <strong>Cargando...</strong>
           <br>
           <i class="fa fa-refresh fa-spin fa-2x"></i>
           <br>
           Espere
       </div>     
   </div>    
  </div>
  
  <!-- Tabla de registros -->
  
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                  <h3 class="card-title">Personas registradas <small>{{totalRegistros}}</small></h3>
                      <table class="table table-hover">
  
                              <thead>
                                  <th>Imagen</th>
                                  <th>Nombre</th>
                                 
                                  <th>Nacionalidad</th>
                                  <th>Tipo documento</th>
                                  <th>Numero doc</th>
                                  <th>Huellas</th>
                                  <th>Opciones</th>
                              </thead>
      
                              <tbody>
                                  <tr *ngFor="let persona of personas">
                                      <td class="w70">  <img [src]="persona.foto | imagen: 'persona'" class="img50 img-circle"(click)="mostrarModal(persona._id,'foto')" > </td>
                                      <td> {{persona.nombre}}</td>
                                      
                                      <td> {{persona.nacionalidad}}</td>
                                      <td>
                                          <select [(ngModel)]="persona.tipoDocumento" name="role" class="form-control">
                                              <option value="Pasaporte"> Pasaporte</option>
                                              <option value="Cedula"> CI - Uruguaya</option>
                                              <option value="Otro"> Otro</option>
                                           </select>
  
                                      </td>
                                      <td>{{persona.documentoNumero}}</td>
                                      <td class="w70">  <img [src]="persona.huellas | imagen: 'persona'" class="img50 "(click)="mostrarModal(persona._id, 'huellas')" > </td>

                                  
                                      <td><button (click)="guardarPersona(persona)"  class="btn btn-primary"><i class="fa fa-save"></i></button>
                                          <button (click)="borrarPersona(persona)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                      </td>
                                  </tr>
      
                              </tbody>
      
                          </table>
  
                          <button class="btn btn-secondary" (click)="cambiarDesde(-5)">
                                  <i class="fa fa-arrow-left"></i>
                              Anteriores
                             </button>
                              <button class="btn btn-secondary"  (click)="cambiarDesde(5)">
                                      Siguientes
                               <i class="fa fa-arrow-right"></i></button>
  
           
              </div>
          </div>
      </div>
  </div>