
<!--- caja de busqueda  -->
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
            <input (keyup)="buscarPersona(input.value)" type="text" class="form-control" placeholder="Buscar personas" #input>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Spinner de carga -->
  <div class="row animated fade-In" *ngIf="cargando" >
      <div class="col-sm-12" >
  
       <div class="alert alert-warning text-center">
           <strong>Cargando...</strong>
           <br>
           <i class="fa fa-refresh fa-spin fa-2x"></i>
           <br>
           Espere
       </div>     
   </div>    
  </div>
  
  <!-- Tabla de registros -->
  
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                  <h3 class="card-title">Personas registradas <small>{{totalRegistros}}</small></h3>
                      <table class="table table-hover">
  
                              <thead>
                                  <th>Imagen</th>
                                  <th>Nombre</th>
                                 
                                  <th>Email</th>
                                 
               
                                  <th>Opciones</th>
                              </thead>
      
                              <tbody>
                                  <tr *ngFor="let usuario of usuarios">
                                      <td class="w70">  <img [src]="usuario.foto | imagen: 'usuario'" class="img50 img-circle"(click)="mostrarModal(persona._id,'foto')" > </td>
                                      <td> {{usuario.nombre}}</td>
                                      
                                      <td> {{usuario.email}}</td>
                                     
                                   
                                  
                                      <td><button (click)="guardarPersona(usuario)"  class="btn btn-primary"><i class="fa fa-save"></i></button>
                                          <button (click)="borrarPersona(usuario)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                      </td>
                                  </tr>
      
                              </tbody>
      
                          </table>
  
                          <button class="btn btn-secondary" (click)="cambiarDesde(-5)">
                                  <i class="fa fa-arrow-left"></i>
                              Anteriores
                             </button>
                              <button class="btn btn-secondary"  (click)="cambiarDesde(5)">
                                      Siguientes
                               <i class="fa fa-arrow-right"></i></button>
  
           
              </div>
          </div>
      </div>
  </div>