<div class="row">
    <div class="col-6">
        <div class="card">
         
            <div class="card-body">
               
                <h4 class="card-title">{{graficos.Residencias.leyenda}}</h4>
                <app-grafico-linea></app-grafico-linea>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
           
            <div class="card-body">
              
                <h4 class="card-title">{{graficos.Sexo.leyenda}}</h4>
                <app-grafico-dona 
                [EtiquetasDona] = "graficos.Sexo.labels" 
                [DatosDona]="graficos.Sexo.data" 
                [tipoGraficaDona]="graficos.Sexo.type">
               </app-grafico-dona>

            </div>
        </div>
    </div>
</div> 

<div class="row">
    <div class="col-6">
        <div class="card">
            
            <div class="card-body">
                <h4 class="card-title">{{graficos.Paises.leyenda}}</h4>
                <app-grafico-dona 
                [EtiquetasDona] = "graficos.Paises.labels" 
                [DatosDona]="graficos.Paises.data" 
                [tipoGraficaDona]="graficos.Paises.type">
               </app-grafico-dona>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
           
            <div class="card-body">
                <h4 class="card-title">{{graficos.Edades.leyenda}}</h4>

                <app-grafico-dona 
                [EtiquetasDona] = "graficos.Edades.labels" 
                [DatosDona]="graficos.Edades.data" 
                [tipoGraficaDona]="graficos.Edades.type">
               </app-grafico-dona>

            </div>
        </div>
    </div>


  

</div> 
