<div class="row">
  <div class="col-12">
    <div class="card">
       
      <div class="card-body">
        <h3 class="card-title">  Tecnologias utilizadas</h3>
        <hr>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Boostrap 4</li>
            <li class="list-group-item">Angular 9</li>
            <li class="list-group-item">JQuery</li>
            <li class="list-group-item">SweetAlert 2</li>
            <li class="list-group-item">Localstorage</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-body">
        <h3 class="card-title"> Patrones de diseno</h3>
        <hr>
     
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ruteo de Angular</li>
            <li class="list-group-item">Separacion de modulos de la APP principal</li>
            <li class="list-group-item">Separacion modular de servicios</li>
            <li class="list-group-item">Menu dinamico desde el backend</li>
            <li class="list-group-item">Sanitizacion de ficheros mediante pipes personalizados</li>
            <li class="list-group-item">Seguridad mediante JWT para el login y backend</li>
            <li class="list-group-item">Seguridad mediante Angular Guards para navegacion local</li>
          </ul>
  </div>
</div>
</div>
</div>

<div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-body">
        <h3 class="card-title"> Pendientes</h3>
        <hr>
        El Backend con el que trabaja fue hecho en nodejs y mongoDB con el proposito de salir rapido con el prototipo y por ende como no iba a ser un 
        backend final,  no estan todos los metodos que requiere el sistema de produccion y los que estan no tienen todos los campos y controles
        que se requieren.<br><br>
        Las cosas pendientes en esta lista se refieren unicamente al frontend
     <br>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Conectar al backend de Java una vez hecho</li>
            <li class="list-group-item">Agregar los campos faltantes a los modelos</li>
            <li class="list-group-item">Agregar los controles de flujo de tramite</li>
            <li class="list-group-item">Ajustar la seguridad de los servicios al backend de java</li>
            <li class="list-group-item">Evaluar ventajas y desventajas de lazyload</li>
            <li class="list-group-item">Generar alta de residencias mediante bsuqueda de agenda *</li>
          </ul>
<br>
<hr>
          <small class="text-danger">* El sistema de residencias  da de alta el tramite con una persona automaticamente al 
              poner la agenda en el formulario, esta es una tarea propia del backend que llama a la agenda y genera ambas cosas 
              (la persona que hoy llamamos equipo y el tramite que hoy llamamos principal). No se hizo este procedimiento en este prototipo debido a 
              que la complejidad de la tarea no merece la pena en un prototipo, pero si estan las altas de personas y modificaciones de tramites por
              separado y los metodos en el backend para agregar tramites de prueba
          </small>
  </div>
</div>
</div>
</div>